body{
    margin: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h4,h5,h3{
    margin: 0;
}

@font-face {
   font-family: 'Raleway', sans-serif;
   src: url("../fonts/Neucha/Neucha-Regular.ttf"); 
}
@font-face {
   font-family: 'Neucha', cursive;
   src: url("../fonts/Neucha/Neucha-Regular.ttf"); 
}
@font-face {
   font-family: 'Khula', sans-serif;
   src: url("../fonts/Khula/Khula-Regular.ttf"); 
}

.inner{
    display: flex;
    height: 100vh;
    background-color: #fbe6eb;
    padding-bottom: 10%;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none
}

.over {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}


img{
max-width: 100%;

}

.title {
    font-family: 'Khula', sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: #000000;
    text-align: center;
    margin-top: 20px
}
.inputs .input:last-child {
    margin-right: 0
}
.result{
    height: 50px;
   display: flex;
   justify-content: center; 
   margin-top:30px;
  font-family: 'Raleway', sans-serif;
} 
.result_display{
    outline: none;
    text-align: center;
    font-size: 50px;
    font-weight: bold; 
    color: #050505;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.input {
    display: flex;
    color: #6b655d;
    height: 40px;
    font-size: 46px;
    border: 2px solid #ededed;
    text-align: center;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px; 
    align-items: center ;
    flex-direction: row;
    max-width: 100%;
    margin-top: 20px;
     

}
.input_val{
    height: 50px;
    border-radius: 5px;
    border: none;
    background: #ededed;
    color: #050505;
    margin: 0 auto;
    font-size: 30px;
    max-width: 40%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: 2px solid #e3405f;
    border-radius: 4px;
    outline: none;
}


.button{
    display: flex;
    justify-content: space-around;
    outline: none;
}
.btn{
    outline: none;
    font-family: 'Raleway', sans-serif;
    height: 60px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background: #e3405f;
    color: #fff;
    margin: 25px auto 0;
    font-size: 26px;
}
}
.start{
    background: #e3405f;
}
.reset{  
    background: #e3405f;
}
.start:hover{
    cursor: pointer;
    opacity: 0.8;
}
.reset:hover{
    cursor: pointer;
    opacity: 0.8;
}
.rabbit{
    position: absolute;
    height: 300px;
    width:  500px;
    left:  80%;
    top: 80%;
}

