@charset "UTF-8";
/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf"); }

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf"); }

/* Varibles */
/* Mixins */
/* General Styles */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Block 1 Main*/
.main {
  width: 100%;
  height: 838px;
  background: url("../images/block_1/bg.png");
  background-repeat: no-repeat;
  background-position: -320px 0;
  background-size: cover; }

.container {
  height: 100%;
  max-width: 1170px;
  margin: 0 auto; }

/* Left side */
.left-side {
  height: 100%;
  width: 500px;
  position: relative;
  float: left; }

/* Logo */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 14px 80px 0 0; }

.logo__p {
  font-size: 22px;
  font-family: "Roboto";
  color: #383334;
  line-height: 1.818;
  padding-left: 15px; }

.legs {
  position: absolute;
  left: -250px; }

.packages {
  position: absolute;
  bottom: -45px;
  left: -85px; }

.packages1 {
  display: none; }

/* Logo1 */
.logo1 {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo__p1 {
  font-size: 22px;
  font-family: "Roboto";
  color: #383334;
  line-height: 1.818;
  padding-left: 15px; }

/* Right Side */
.right-side {
  max-width: 670px;
  height: 100%;
  float: right; }

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 16px;
  font-family: "Roboto Medium";
  font-style: italic;
  color: #666;
  line-height: 1.125;
  letter-spacing: -0.5px;
  margin: 23px 0 0 0; }

/* List Icons */
.header li:nth-of-type(1) {
  padding: 5px 0 0 50px;
  background: url(../images/block_1/icon1.png) no-repeat left center; }

.header li:nth-of-type(2) {
  padding: 5px 0 0 40px;
  background: url(../images/block_1/icon2.png) no-repeat left center; }

.header li:nth-of-type(3) {
  padding: 5px 0 0 50px;
  background: url(../images/block_1/icon3.png) no-repeat left center; }

/* Form */
.form {
  height: 553px;
  width: 270px;
  float: right;
  background: url("../images/block_1/obj.png") no-repeat;
  position: relative;
  margin: 56px -8px 0 0; }

/*Top*/
.top {
  width: 140px;
  margin: 0 auto; }

.is-free {
  display: inline;
  font-size: 16px;
  font-family: "Roboto";
  color: #444;
  line-height: 1.125;
  padding-left: 48px; }

.car {
  position: absolute;
  padding: 0 5px 0 12px;
  margin-top: 2px; }

/*Content*/
.content {
  margin-top: 35px; }

/*To Order*/
.to-order {
  font-size: 20px;
  font-family: "Roboto Medium";
  color: #000;
  line-height: 1.1;
  text-align: center; }

.orange-span {
  color: #FF8C4A; }

/*Price*/
.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.old-price, .new-price {
  margin: 10px;
  padding: 0 8px; }

.old-price {
  padding: 0;
  position: relative; }

.new-price {
  margin-right: -5px; }

.old-price p:first-child {
  font-size: 14px;
  line-height: 1.714;
  font-family: "Roboto Medium";
  color: #666;
  padding-bottom: 6px; }

.new-price p:first-child {
  font-size: 14px;
  line-height: 1.714;
  font-family: "Roboto";
  color: #000;
  position: relative;
  padding-bottom: 6px; }

.old-price p:last-child {
  font-size: 34px;
  font-family: "Roboto Regular";
  color: #0B0B0B;
  line-height: 0.706;
  padding: 6px 0; }

.new-price p:last-child {
  font-size: 34px;
  font-family: "Roboto";
  color: #000;
  line-height: 0.706;
  background-image: -webkit-gradient(linear, left top, right top, from(#FFB913), to(#FFC711));
  background-image: -webkit-linear-gradient(left, #FFB913, #FFC711);
  background-image: -o-linear-gradient(left, #FFB913, #FFC711);
  background-image: linear-gradient(to right, #FFB913, #FFC711);
  padding: 8px 10px;
  border-radius: 6px; }

.new-price img {
  position: absolute;
  top: 45px;
  right: -57px; }

.old-price img {
  position: absolute;
  left: -5px; }

/*Inputs*/
input {
  display: block;
  margin: 10px auto;
  background-color: #ECF2F7;
  border: none;
  height: 65px;
  width: 220px;
  border-radius: 32px;
  font-size: 16px;
  font-family: "Roboto";
  color: #666;
  line-height: 1.125;
  padding-left: 54px;
  margin-top: 6px; }

.double-border {
  width: 228px;
  height: 78px;
  display: block;
  font-size: 28px;
  font-family: "Roboto";
  color: #000;
  line-height: 0.7;
  cursor: pointer;
  background-image: -moz-linear-gradient(0deg, #ffbc02 0%, #ffce02 100%);
  background-image: -webkit-linear-gradient(0deg, #ffbc02 0%, #ffce02 100%);
  background-image: -ms-linear-gradient(0deg, #ffbc02 0%, #ffce02 100%);
  border: 4px solid #fff;
  border-radius: 40px;
  position: relative;
  margin: 10px auto; }

.double-border:before {
  background: none;
  border: 1px solid #FFD64B;
  border-radius: 32px;
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  pointer-events: none; }

.double-border span {
  font-size: 17px;
  margin-right: 4px; }

.inputs img {
  position: absolute;
  padding: 20px 0 0 45px;
  margin-top: 2px; }

input:focus, button:focus {
  outline: none; }

/* Footer */
.balance {
  font-size: 18px;
  font-family: "Roboto Medium";
  color: #333;
  line-height: 1;
  text-align: center;
  margin-top: 15px; }

.balance span {
  color: #8CBD38; }

.defense {
  height: 44px;
  width: 256px;
  background-color: #ECF2F7;
  font-size: 14px;
  font-family: "Roboto Medium";
  text-align: center;
  color: #666;
  line-height: 44px;
  position: absolute;
  bottom: 7px;
  left: 7px;
  border-radius: 0 0 10px 10px; }

.defense img {
  position: absolute;
  top: 12px;
  left: 27px; }

.defense span {
  position: absolute;
  left: 57px; }

/*Banner*/
.banner {
  float: left;
  max-width: 400px;
  opacity: 0.9; }

.title {
  font-size: 44px;
  font-family: "Roboto";
  color: #383334;
  line-height: 1;
  margin: 52px 0 0 10px; }

.low {
  display: block;
  font-size: 34px;
  margin-top: 2px; }

.in {
  border-bottom: 5px solid #FF5C18;
  display: inline-block; }

.out {
  border-bottom: 5px solid #95C93C;
  display: inline-block; }

/*Banner1*/
.banner1 {
  font-size: 20px;
  font-family: "Roboto Regular";
  color: #444;
  line-height: 1.2;
  margin: 40px 0 0 75px;
  position: relative;
  background-color: #EFF8FE;
  opacity: 0.9; }

.banner1 p {
  margin: 20px 15px 35px 10px; }

.in1 {
  border-bottom: 3px solid #FF5C18;
  display: inline-block; }

.out1 {
  border-bottom: 3px solid #95C93C;
  display: inline-block; }

.banner1 img {
  position: absolute;
  left: -68px;
  top: 10px; }

/* Block 2 */
/* Top */
.block_2_wrap {
  max-width: 1170px;
  margin: 30px auto; }

.block_2_top img {
  display: block;
  margin: 0 auto 12px auto; }

.block_2_top p {
  font-size: 48px;
  font-family: "Roboto";
  color: #383334;
  line-height: 1;
  text-align: center; }

.block_2_top p span {
  display: block;
  font-size: 24px;
  font-family: "Roboto";
  color: #2B2828;
  font-weight: bold;
  line-height: 1.167;
  text-align: center;
  margin-top: 35px; }

/* Container */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-container > div {
  background-color: white;
  max-width: 360px;
  margin: 10px; }

.item {
  position: relative;
  padding: 20px 20px 0 0; }

.item img:first-child {
  margin: 0 0 0 -20px;
  float: left; }

.item .p1 {
  display: inline;
  font-size: 22px;
  font-family: "Roboto";
  color: #000;
  line-height: 1.182;
  text-align: left;
  float: left;
  margin: 70px 0 0 20px; }

.item .line {
  position: absolute;
  bottom: 90px; }

.psevdo {
  clear: both;
  height: 5px; }

.item .p2 {
  clear: both;
  font-size: 18px;
  font-family: "Roboto Medium";
  color: #444444;
  line-height: 1.556;
  margin: 40px 0 0 0;
  text-align: left; }

.block_2_footer {
  position: relative; }

.dia {
  width: 150px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%); }

.block_2_footer p {
  font-size: 22px;
  font-family: "Roboto Regular";
  color: black;
  line-height: 1.273;
  text-align: center;
  border: 3px solid #FFD1BB;
  border-radius: 15px;
  margin-top: 60px;
  padding: 35px 50px; }

/* Block 3 */
.block_3_wrap {
  width: 100%;
  height: auto;
  background: url("../images/block_3/bg.png") no-repeat;
  background-size: auto; }

.container_3 {
  max-width: 1170px;
  margin: 0 auto 0 auto;
  padding: 150px 0 115px 0; }

.container_3 img {
  display: block;
  margin: 0 auto 12px auto;
  padding-top: 0px; }

.container_3 .title1 {
  font-size: 48px;
  font-family: "Roboto";
  color: #383334;
  line-height: 1;
  text-align: center;
  margin-bottom: 75px; }

.flex-container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.flex-container1 > div {
  background-color: white;
  max-width: 360px;
  margin: 10px;
  text-align: center; }

.item1 {
  border-top: 5px solid #9EC744;
  border-radius: 5px;
  padding: 0 40px 40px 40px; }

.item1 .top_img {
  margin-top: -50px; }

.item1 .top_p {
  font-size: 24px;
  font-family: "Roboto";
  color: black;
  font-weight: bold;
  line-height: 1.167;
  margin-bottom: 15px; }

.item1 .top_p1 {
  font-size: 18px;
  font-family: "Roboto Medium";
  color: #222222;
  line-height: 1.444;
  margin-bottom: 25px; }

.item1 .arrow {
  display: block;
  margin-left: -25px; }

.item1 .no {
  color: #FF8F5E;
  margin-top: 15px;
  font-size: 24px;
  font-family: "Roboto";
  color: #ff6b00;
  line-height: 1.083; }

.item1 .bot {
  font-size: 18px;
  font-family: "Roboto Regular";
  color: #444444;
  line-height: 1.444;
  margin-top: 15px; }

.block_3_footer {
  position: relative;
  margin-top: 50px; }

.dia1 {
  width: 150px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%); }

.block_3_footer p {
  font-size: 22px;
  font-family: "Roboto Regular";
  color: black;
  line-height: 1.273;
  text-align: center;
  border: 3px solid #FFD1BB;
  border-radius: 15px;
  padding: 30px 50px; }

#dia {
  background-color: #F6FDFE; }

#dia span {
  position: absolute;
  font-size: 22px;
  font-family: "Roboto";
  color: black;
  font-weight: bold;
  line-height: 1.273;
  text-align: center;
  top: 8px;
  left: 36px; }

/* Block 4 */
.block_4_wrap {
  width: 100%; }

.container_4 {
  max-width: 1170px;
  margin: 0 auto; }

.container_4 img {
  display: block;
  margin: 0 auto; }

.top_p4 {
  font-size: 47px;
  font-family: "Roboto";
  color: black;
  line-height: 1.021;
  text-align: center;
  margin-top: 15px; }

.top_p4 span {
  color: #FF3B15; }

.top_p41 {
  font-size: 23px;
  font-family: "Roboto Regular";
  color: #444444;
  line-height: 2.087;
  text-align: center;
  margin-top: 15px; }

.flex-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 65px; }

.flex-container2 > div {
  background-color: white;
  max-width: 370px;
  height: 307px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  padding: 0 15px; }

.item2 {
  background: url("../images/block_4/red.png");
  border-radius: 10px; }

.item2.green {
  background: url("../images/block_4/green.png"); }

img.tablet {
  margin-top: -45px; }

img.people {
  margin-top: -65px; }

img.pack {
  margin-top: -40px; }

.p_top_4 {
  font-size: 24px;
  font-family: "Roboto";
  color: black;
  font-weight: bold;
  line-height: 1.167;
  margin-top: 60px; }

.p_cont {
  font-size: 18px;
  font-family: "Roboto Regular";
  color: black;
  line-height: 1.444;
  text-align: center;
  margin-top: 15px; }

.gradient-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 900px;
  margin-top: 20px;
  margin-bottom: 30px;
  background: white;
  background-clip: padding-box;
  /* !importanté */
  border: solid 4px transparent;
  /* !importanté */
  border-radius: 1em; }
  .gradient-box:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -4px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: -webkit-gradient(linear, left top, right top, from(#FF3815), color-stop(orange), to(#00BF26));
    background: -webkit-linear-gradient(left, #FF3815, orange, #00BF26);
    background: -o-linear-gradient(left, #FF3815, orange, #00BF26);
    background: linear-gradient(to right, #FF3815, orange, #00BF26); }
  .gradient-box p {
    font-size: 27px;
    font-family: "Roboto";
    color: black;
    line-height: 0.982;
    text-align: center;
    padding: 32px; }

/* Block 5 */
.block_5_wrap {
  background: url("../images/block_5/bg.png") no-repeat;
  background-size: 100% 100%;
  width: 100%; }

.block_5 {
  max-width: 1170px;
  margin: 0 auto 0 auto;
  padding-top: 85px; }

img.img_5 {
  display: block;
  margin: 0 auto; }

.title_5 {
  font-size: 47px;
  font-family: "Roboto";
  color: black;
  line-height: 1.021;
  text-align: center;
  margin-top: 8px; }
  .title_5 span {
    color: #FF3B15; }

.left_side_5 {
  width: 50%;
  float: left;
  padding: 110px 0 0 152px; }

.right_side_5 {
  width: 50%;
  float: right; }

.right_side_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 76px 0 0 30px; }

.right_side_5 > div {
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 30px;
  margin-bottom: 20px; }

.right_side_5 p {
  position: relative;
  font-size: 18px;
  font-family: "Roboto Medium";
  color: black;
  line-height: 1.444;
  padding-left: 35px; }

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.description img {
  position: absolute;
  top: -20px; }

.product {
  width: 100%; }

@media (min-width: 2000px) {
  .main {
    background-position: 100% 100%; } }

@media (min-width: 992px) and (max-width: 1199px) {
  /*Block 1*/
  .legs {
    height: auto;
    width: 100%;
    left: -150px;
    position: none; }
  .packages {
    height: auto;
    width: 100%;
    left: -40px;
    bottom: -20px;
    position: none; }
  .right-side {
    position: absolute;
    right: 0; }
  .main {
    height: 100vh; }
  .logo {
    margin: 14px 160px; }
  /* Block 2 */
  /* Block 3 */
  .container_3 .title1 {
    margin-bottom: 25px; }
  .flex-container1 > div {
    margin-top: 50px; }
  .block_3_wrap {
    background-size: 100% 110%; }
  /* Block 4 */
  .flex-container2 div:last-child {
    margin-top: 50px; }
  /* Block 5 */ }

@media (min-width: 768px) and (max-width: 779px) {
  .flex-container2 div:nth-of-type(2) {
    margin-top: 60px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .main {
    height: 1150px; }
  /*Block 1*/
  .logo1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .left-side {
    display: none; }
  .right-side {
    float: none;
    display: block;
    margin: 0 auto; }
  .packages1 {
    display: block;
    padding-top: 30px; }
  /* Block 2 */
  .block_2_footer {
    padding: 0 20px; }
  /* Block 3 */
  .container_3 .title1 {
    margin-bottom: 25px; }
  .flex-container1 > div {
    margin-top: 50px; }
  .block_3_wrap {
    background-size: 100% 110%; }
  .block_3_footer {
    padding: 0 20px; }
  /* Block 4 */
  .flex-container2 div:last-child {
    margin-top: 50px; }
  /* Block 5 */
  .left_side_5 {
    padding: 110px 0 0 100px; } }

@media (min-width: 481px) and (max-width: 767px) {
  .main {
    height: 1800px; }
  /*Block 1*/
  .logo1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .left-side {
    display: none; }
  .right-side {
    float: none;
    margin: 0 auto; }
  .packages1 {
    display: block;
    width: 100%;
    padding: 30px 0 0 30px; }
  .banner {
    float: none;
    margin: 0 auto; }
  .banner1 {
    background-color: transparent; }
  .form {
    float: none;
    margin: 0 auto; }
  .header {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
  .header li {
    line-height: 3;
    border: 1px solid grey;
    text-align: center;
    margin-top: 10px; }
  .banner {
    text-align: center; }
  /* Block 2 */
  .title_2 {
    padding: 0 15px; }
  .block_2_footer {
    padding: 0 20px; }
  /* Block 3 */
  .container_3 .title1 {
    margin-bottom: 25px; }
  .flex-container1 > div {
    margin-top: 50px; }
  .block_3_wrap {
    background-size: 100% 110%; }
  .container_3 {
    padding: 0; }
  .block_3_footer {
    padding: 0 20px; }
  .block_3_footer p {
    padding: 30px 15px; }
  /* Block 4 */
  .flex-container2 div:last-child {
    margin-top: 50px; }
  .flex-container2 div:nth-of-type(2) {
    margin-top: 70px; }
  /* Block 5 */
  .left_side_5 {
    float: none;
    padding: 15px;
    display: block;
    margin: 0 auto; }
  .right_side_5 {
    float: none;
    display: block;
    margin: 0 auto;
    padding: 30px 0 0 0;
    width: 100%; } }

@media (min-width: 320px) and (max-width: 480px) {
  .main {
    height: 1675px; }
  /*Block 1*/
  .logo1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .left-side {
    float: none;
    display: none; }
  .packages1 {
    display: block;
    width: 100%;
    padding: 30px 0 0 30px; }
  .header {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
  .header li {
    line-height: 2;
    border: 1px solid grey;
    text-align: center;
    margin-top: 10px; }
  .banner {
    float: none;
    margin: 0 auto; }
  .form {
    float: none;
    margin: 0 auto; }
  .banner {
    text-align: center; }
  /* Block 2 */
  .item {
    padding: 0; }
  .item img:first-child {
    float: none;
    display: block;
    width: 193px;
    margin: 0 auto; }
  .item .p1 {
    float: none;
    width: 100%;
    display: block;
    margin: 15px 0 0 0;
    text-align: center; }
  .item .line {
    position: static;
    margin-top: 10px; }
  .item .p2 {
    margin: 0;
    padding: 10px; }
  .block_2_footer {
    padding: 0 20px; }
  .block_2_footer p {
    padding: 20px 5px; }
  /* Block 3 */
  .container_3 .title1 {
    margin-bottom: 25px; }
  .flex-container1 > div {
    margin-top: 50px; }
  .block_3_wrap {
    background-size: 100% 115%;
    padding-bottom: 15px; }
  .log {
    padding-top: 15px; }
  .block_3_footer {
    padding: 0 20px; }
  .block_3_footer p {
    padding: 40px 15px;
    font-size: 18px; }
  .container_3 {
    padding: 0; }
  /* Block 4 */
  .flex-container2 div:last-child {
    margin-top: 50px; }
  .flex-container2 div:nth-of-type(2) {
    margin-top: 70px; }
  .item2 {
    background: none;
    border: 5px solid #FF4D22; }
  .item2.green {
    background: none;
    border: 5px solid #00BF26; }
  img.tablet {
    margin-top: -45px; }
  img.people {
    margin-top: -65px; }
  img.pack {
    margin-top: -40px; }
  .p_top_4 {
    margin-top: 15px; }
  .item1 .arrow {
    max-width: 100%;
    margin-left: 0px; }
  /* Block 5 */
  .left_side_5 {
    float: none; }
  .left_side_5 {
    padding: 15px;
    display: block;
    margin: 0 auto; }
  .right_side_5 {
    float: none;
    display: block;
    margin: 0 auto;
    padding: 30px 0 0 0;
    width: 100%; } }

@media (max-width: 320px) {
  /*Block 1*/
  .logo1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .left-side {
    display: none; } }
